body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    flex:1;
}
.fa-compass{
    color:#fe424d ;
    font-size:2rem ;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    height: 5rem;
    z-index: 1;
}
.nav-link{
    color: #222 !important;
}
.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
}

.f-info-link,.f-info-socials i{
    text-decoration: none;
   margin-right: 1rem;
}
.fa-brands{
    font-size: 1.2rem ;
    margin-right: 1rem;
    transition: all 0.5s ease-in-out;
}
.fa-brands:hover{
    scale: 1.5;
}
.f-info-link:hover{
    text-decoration: underline;
}
.f-info{
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
   flex-direction: column;
}


.card-body{
    padding: 0;
}
.card-img-top{
  width: 100% !important;
  border-radius: 1.5rem !important;
  object-fit: cover !important;
}
.card{
    border: none;
    margin-bottom: 2rem;
}
.cards-text {
    font-weight: 400;
}
.row a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.card-img-overlay{
    opacity: none;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new page */
.btn-add{
    background-color:#fe424d ;
    border: none;
}
/* edit page */
.btn-edit{
    background-color:#fe424d ;
    border: none;
}

/* show listing */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.btn-delete{
    padding: 5px 25px !important;
}