<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5">
            <% for(list of Listings){%>
                <a href="/listings/<%=list.id%>">
                    <div class="card card-main" style="width: 20rem">
                        <img src="<%=list.image %>" alt="listing image" class="card-img-top " style="height:18rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text cards-text">
                                <b>
                                    <%= list.title %>
                                </b> <br>
                                &#8377 <%=list.price.toLocaleString("en-IN")%> /night
                            </p>
                        </div>
                    </div>
                </a>
                <% }%>
        </div>
    </body>