<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>

<body>
    <h3>Wander Lust</h3>
    <form action="">
        <button>Create new listing</button>
    </form>
    <ul>
        <% for(list of Listings){%>
            <li>
                <a href="/listings/<%=list.id%>">
                    <%=list.title%>
                </a>
            </li>
            <% }%>
    </ul>
</body>

</html>