<% layout('layouts/boilerplate') %>

    <body>
        <h3>Wander Lust</h3>
        <button><a href="/listings/new">Create New Listing</a></button>
        <ul>
            <% for(list of Listings){%>
                <li>
                    <a href="/listings/<%=list.id%>">
                        <%=list.title%>
                    </a>
                </li>
                <% }%>
        </ul>
    </body>