<div id="filters" class="d-none d-md-flex dropdown ">

    <div class="filter">
        <a href="/listings/category/trending">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/beds">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Beds</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/iconic_cities">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/mountains">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/castles">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/amazing_pools">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/camping">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/farms">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </a>
    </div>
    <div class="filter">
        <a href="/listings/category/artic">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Artic</p>
        </a>
    </div>
</div>