<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust private limited</div>
        <div class="f-info-links">
            <a class="f-info-link" href="/privacy">Privacy</a>
            <a class="f-info-link" href="/terms">terms </a>
        </div>
    </div>
</footer>